
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Work-sans';
    src: url('../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Noto-serif';
    src: url('../assets/fonts/Noto_Serif/NotoSerif-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
* {
   /* border: 1px solid red; */
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
html {
   font-size: 18px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    
    height: calc(100vh - 2rem);
    overflow: auto;
    background-image: url('../assets/images/pexels-nicole-avagliano-2706654.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
   
main {
    min-height: 100%;
    margin: 0rem 4rem;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
}
h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.2rem;
    text-align: center;
}
h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
}
p, a, li, button {
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-size: 1.2rem;
    list-style: none;
}
a {
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
}
.header {
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 1rem 4rem;
    align-items: center;
}
.header>div {
    margin-left: 1.2rem;
}
.active {
    border: 1px solid whitesmoke;
    padding: 0.25rem 0.5rem;
}
.main {
    flex: 1;
}

.home {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home>.title {
    display: flex;
    flex: 9;
    flex-direction: column;
    justify-content: center;
}
.home>div>h2 {
    text-align: left;
}
.home>p {
    flex: 1;
}
.about, .projects, .contact {
    background-color:  #0D1A21;
    color: whitesmoke;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile-pic {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    align-self: center;
    margin-bottom: -3rem;
    box-shadow: 4px 6px 3px 3px rgb(35, 56, 76);
}
.profile-pic:hover {
    transform: translateY(2px);
    box-shadow: 4px 4px 4px 3px rgb(18, 60, 80);
    border: 1px solid rgb(18, 60, 80);
}
.wrapper {
    display: flex;
}
.wrapper>* {
    flex: 1;
    margin: 0rem 1rem;
}
.wrapper>*>h3 {
    margin-bottom: 1rem;
}
.about-me {
    border: 2px solid whitesmoke;
    margin: 3rem 1rem;
}

.about-me>p {
    flex: 9;
    align-self: center;
    padding: 1rem;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0rem;
}
.skills>ul {
    flex: 1;
    width: 40%;
    border: 2px solid whitesmoke;
    padding: 1rem;
    margin: 0rem 2.5rem;
}

.skills>.frameworks {
    align-self: flex-end;
    margin: -3.5rem 0rem;
}
.projects {
    padding: 1rem 0rem;
    min-height: calc(100vh - 150px -2rem); 
}
.projects>h2 {
    margin-top: 1rem;
}

.project-display {
    width: 100%;
    min-height: calc(80vh - 150px - 5rem);
    padding: 2rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0px auto;
}
.project-card.selected {
    border: 2px solid whitesmoke
}

.isActive {
    max-width: 50%;
    min-height: calc(60vh - 150px);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.isActive .project-img {
    width: 60%;
    height: auto
}

.project-card {
   max-width: 100%;
   min-height: calc((80vh - 150px - 2rem) / 5);
   display: flex;
   margin-bottom: 0.5rem;
   border: 2px solid transparent;
}
.project-card:hover {
    transform: translateY(2px);
    border: 2px solid whitesmoke;
}

.project-card>section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-card>.project-hero {
    width: 40%;
}
.project-img {
    width: auto;
    height: calc((75vh - 150px - 2rem) / 5);
}
.project-card>section>h3 {
    font-size: 1.1rem;
}

.isActive>div>button {
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    border: none;
    margin-right: 1rem;
    border-radius: 10px;
    background-color: rgb(35, 56, 76);
    border: 1px solid transparent;
    color: whitesmoke;
}

.isActive>div>button>a {
    font-size: 1.2rem;
}
.isActive>div {
    display: flex;
}

.isActive>div>button:hover {
    border: 1px solid whitesmoke;
}
.isActive>h3 {
    padding: 0.5rem;
    font-size: 1.2rem;
}
.isActive>p {
    padding: 0.5rem;
    font-size: 1rem;
}
.project-card>section>ul,
.isActive>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.isAvtive>ul {
    padding: 1rem 0;
}
.project-card>section>ul>li,
.isActive>ul>li {
    font-size: 1rem;
    padding: 0.2rem;
}
.contact {
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0rem; 
}
.contact>h2 {
    margin: 1rem;
}
.contact>p {
    margin: 2rem;
    font-size: 1.8rem;
}
.contact>section {
    min-height: 40vh;
    width: 80%;
    display: flex;
    justify-content: center;
}
.contact-container-a,
.contact-container-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 40%;
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid whitesmoke;
}
.contact-container-a>*,
.contact-container-b>* {
    text-align: left;
    padding: 0.25rem;
}
.contact-container-a>p>*,
.contact-container-b>p>*{
    border: 1px solid transparent;
}
.contact a:hover {
    border: 1px solid whitesmoke;
}
.footer {
    background-color: #0D1A21;
    color: whitesmoke;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
}
.footer>p {
    font-size: 1rem;
}
